@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@font-face {
    font-family: Dx Slight;
    src: url(../../font/dxslight-mediumultra-free-personal-use.otf);
}

@font-face {
    font-family: against;
    src: url(../../font/against\ regular.otf);
}

@font-face {
    font-family: Brigends;
    src: url(../../font/brigends-expanded-font-1705392758-0/brigendsexpanded-nrek1.otf);
}

@font-face {
    font-family: MADE TOMMY;
    src: url(../../font/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: rgb(52, 46, 55);
    --darkv2: #0f0f10;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    --sidebar : rgb(16, 15, 51);
    --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
  --timing: 400ms;
  --rotation: 20deg;
}


body {
    height: 100vh;
    background-color: var(--darkv2);
    perspective: 1000px;
    position: relative;
}

nav {
    color: white;
    padding: 1rem 0;
}

nav h3 {
    font-family: Dx slight;
    font-size: 2.5rem;
    background: linear-gradient(107.2deg, rgb(150, 15, 15) 10.6%, rgb(247, 0, 0) 91.1%);
    background-clip: text;
   
    color: transparent;
}


nav ul li a {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

#page1 {
    height: 100vh;
    background-size: cover;
    background-position: calc(10deg );
    padding: 0 2rem;
}

#page1 main {
    width: 100%;
    height: 80%;
}

#page1 main h1 {
    font-size: 5rem;
    /* opacity: 0.5; */
    color: white;
    font-weight: bold;
}









#page1 main .poster {
    height: 17rem;
    width: 12rem;
    aspect-ratio: 9/16;
    position: relative;
    transition: rotate var(--timing) ease;
}

.poster img {
    width: 100%;
    height: 100%;
}

.poster:hover {
    rotate: x var(--rotation);
  }

.poster::after {
    content: '';
    position: absolute;
    inset: 80% 0.5rem 0.5rem;
    translate: 0;
    transform: translateZ(-100px);
    background-color: rgba(107, 0, 0, 0.527);
    filter: blur(1rem);
    z-index: 1;
    transition: rotate var(--timing), translate var(--timing);
}

.poster::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background-color: lime; */
    z-index: 100;
    background-image: radial-gradient(circle ,transparent 5rem, black);
    opacity: 0;
    transition: opacity var(--timing);
}

.poster:hover::before {
    opacity: 1;
}
.poster:hover::after {
    rotate: x calc(var(--rotation) * -1);
    translate: 0 60px;
}




.bg-image {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  #page2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.63), rgba(0, 0, 0,1)),
    url(../../../img/Scary-Movies-800x400w.jpg);
  }

  #page2 h3 {
    font-family: var(--lato);
  }


  #page2 .week {
    height: 18rem;
  }

  .movie {
    width: 9rem;
    height: auto;
  }

  .movie img {
    width: 100%;
    height: 100%;
  }


 
















#page1 main .movieinfos p {
    font-size: 1.2rem;
    font-family: var(--lato);
}

#page1 main h5 {
    width: 40%;
}

#page1 main .genre h4 {
    border: 1px solid white;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}
#page1 main .genre h4:hover {
    background-color: rgb(81, 81, 81);
}









#page2{
    padding: 1rem;
    height: 100vh;
}

